<h1 class="text-center mt-4">Booking History</h1>
<div class="container">
<% @reservations.each do |reservation| %>
    <% if reservation.user==current_user %>
        <div class="row justify-content-md-center">
            <div class="col-8 mt-4">
                <div class="card shadow mb-2 bg-white rounded">
                    <div class="card-header text-center font-italic">                
                        Travel
                    </div>
                    <div class="card-body">
                        <p class="card-text">Name: <%= reservation.name%></p>
                        <p class="card-text">From: <%= reservation.from%></p>
                        <p class="card-text">To: <%= reservation.to%></p>
                        <p class="card-text">Date of journey: <%= reservation.doj%></p>
                        <p class="card-text">Time: <%= reservation.time%></p>
                        <p class="card-text">Fare: 1200</p>                    
                        <div class="container text-center">                       
                            <%= link_to 'Cancel Ticket', reservation_path(reservation), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>                                        
                        </div>
                    </div>
                    <div class="card-footer text-center text-muted">
                        <small>created <%= time_ago_in_words(reservation.created_at) %> ago                    
                    </div>
                </div>
            </div>
        </div>
    <% end %>    
<% end %>
</div>