<div id="page-content">
    <div class="container">
        <h1 class="text-center mt-4" >Bus booking</h1>
        <div class="row justify-content-center">
            <div class="col-10">
                <%= render 'shared/errors', obj: @reservation %>
                <%= form_with(model: @reservation, class: "shadow p-3 mb-3 bg-info rounded" , local: true) do |f|    %>
                <div class="form-group row">
                    <%= f.label :Name, class: "col-2 col-form-label text-light" %>
                    <div class="col-10">    
                        <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Name of passenger" %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :From, class: "col-2 col-form-label text-light" %>
                    <div class="col-10">    
                        <%= f.select :from, ['Thiruvananthapuram','Kochi', 'Kozhikode','Kollam','Thrissur','Kannur','Alappuzha','Kottayam','Palakkad','Malappuram','Manjeri']%>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :To, class: "col-2 col-form-label text-light" %>
                    <div class="col-10">    
                        <%= f.select :to, ['Thiruvananthapuram','Kochi', 'Kozhikode','Kollam','Thrissur','Kannur','Alappuzha','Kottayam','Palakkad','Malappuram','Manjeri']%>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :Date_of_Journey, class: "col-2 col-form-label text-light" %>
                    <div class="col-10">    
                        <%= f.select :doj, ['01/06/2020', '02/06/2020', '03/06/2020', '04/06/2020', '05/06/2020', '06/06/2020', '07/06/2020', '08/06/2020', '09/06/2020', '10/06/2020', '11/06/2020', '12/06/2020', '13/06/2020', '14/06/2020', '15/06/2020']%>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :Time, class: "col-2 col-form-label text-light" %>
                    <div class="col-10">    
                        <%= f.select :time, ['11:00', '02:00', '16:00', '20:00']%>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :Fare, class: "col-2 col-form-label text-light" %>                    
                    <div class="col-10">    
                        INR 1200
                    </div>
                </div>
                <div class="form-group row justify-content-center">    
                        <%= f.submit class: "btn btn-outline-light btn-lg" %>     
                    </div>            
                </div>       
                <% end %>
                <%= link_to '[ Cancel and return to Home page ]', root_path, class: "text-info" %>
            </div>
        </div>
    </div>
</div>